#loader4 {
	font-size: 10px;
	display: block;
	margin:0 auto;
	/* margin: 20px 20px; */
	/* float: left; */
	text-indent: -9999em;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load4 1.4s infinite linear;
	animation: load4 1.4s infinite linear;
}

#loader4:before {
	width: 50%;
	height: 50%;
	background: #ff0000;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

#loader4:after {
	background: #ffffff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load4 { 
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);

    }
}
@keyframes load4 { 
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}