<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nchu.software.mapper.ArticleMapper">
    
    <insert id="insertArticle" parameterType="cn.edu.nchu.software.entity.ArticleEntity">
    	insert into article values (null,#{userID},#{typeID},#{articleType},#{articleTitle},#{keyword},
    	#{articleContext},#{uploadTime},#{count})
    </insert>
    
	<select id="listArticleByArticleType" resultType="cn.edu.nchu.software.entity.ArticleEntity">
		select * from article where articleType = #{articleType} and typeID = #{typeID} order by uploadTime desc
	</select>
	
	<select id="listArticleByArticleTypeUserID" resultType="cn.edu.nchu.software.entity.ArticleEntity">
		select * from article where articleType = #{articleType} and userID = #{userID} order by uploadTime desc
	</select>

	<select id="findArticleByArticleID" resultType="cn.edu.nchu.software.entity.ArticleEntity">
		select * from article where articleID = #{articleID}
	</select>
	
	<update id="countSelfIncrement" parameterType="int">
		update article set count = count + 1 where articleID = #{articleID} 
	</update>
</mapper>