<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nchu.software.mapper.CodeMapper">
    
    <insert id="insertCode" parameterType="cn.edu.nchu.software.entity.CodeEntity">
    	insert into code values (null,#{userID},#{typeID},#{codeTitle},#{keyword},#{codeDescribe},
		#{codeContext},#{uploadTime},#{count},#{analysisResults})
    </insert>
    
	<select id="listAllCode" resultType="cn.edu.nchu.software.entity.CodeEntity">
		select * from code where typeID = #{typeID} order by uploadTime desc
	</select>
	
	<select id="listCodeByUserID" resultType="cn.edu.nchu.software.entity.CodeEntity">
		select * from code where userID = #{userID} order by uploadTime desc
	</select>

	<select id="findCodeByCodeID" resultType="cn.edu.nchu.software.entity.CodeEntity">
		select * from code where codeID = #{codeID}
	</select>
	
	<update id="countSelfIncrement" parameterType="int">
		update code set count = count + 1 where codeID = #{codeID} 
	</update>
	
	<select id="listCodeByArchivingUserID" resultType="cn.edu.nchu.software.entity.CodeEntity">
		select * from code where codeID in (select codeID from archiving where userID = #{userID}) order by uploadTime desc
	</select>
	
	<select id="listAllCodeByTypeIDCodeID" resultType="cn.edu.nchu.software.entity.CodeEntity">
		select * from code where typeID = #{typeID} and codeID != #{codeID}
	</select>
</mapper>