<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nchu.software.mapper.TypeMapper">
    
    <select id="listAll" resultType="cn.edu.nchu.software.entity.TypeEntity">
    	select * from type
    </select>
	<select id="findTypeByTypeID" resultType="cn.edu.nchu.software.entity.TypeEntity">
    	select * from type where typeID = #{typeID}
    </select>
</mapper>